// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.email-details {
  text-align: center;
}

.admin-btn {
  font-size: 14px;
  line-height: 0.433333;
  border-right: 0px;
  display: initial;
  margin-left: 4px;
  margin-right: -100px;
}